<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
          background-image: url('https://free4kwallpapers.com/uploads/originals/2015/08/09/wood-textured-background.jpg');
        }
        </style>
    <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            clifford: '#da373d',
          }
        }
      }
    }
  </script>
</head>

<body class="bg-blend-darken">
    <div>
<center><h1>To do list</h1></center>
</div>
<div>
    <center><div><h1 class="font-sans text-7xl text-amber-200">THIS IS A TODO LIST APP</h1></center></div>
    <br><br><br>
    <div>
        <div class="w-1/5"></div>
        <center>
        <div class="rounded bg-neutral-700 w-3/5 self-center">
            <table>
                <tr>
                    <td>Headings</td>
                </tr>
            </table>
        </div>
    </center>
        <div class="w-1/5"></div>
    </div>
    <div>
      <br>
      <br>
      <br>
      <br>
      <center>
      <form action="/list" method="post">
        <input type="text" name="details" id="details">
        <input type="text" name="name" id="name">
        <input style="border-color: black; color: burlywood; border-width: 2px;" type="submit" value="Add to list">
      </center>
      </form>
    </div>
</div>



    
</body>
</html>